.cardStyle {

    width: 300px;
    padding:10px;
    text-align: center;
    box-shadow: 0 0 10px black;
}
.container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}