.techContainer {
   
    height: 400px;
    width: 1000px;
    margin: 50px auto;
    display: flex;
    box-shadow: 0 0 10px black;
}
.leftPanel {
    background-color: black;
    color:white;
    width:30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.rightPanel {
    padding:20px;
    width:70%
}